*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color:white;
    width: 100%;
    height: 60px;
    text-align: end;
   
    
}
.navbar-nav{
   padding: 15px;
   

}

.navbar a{
    font-size: 1.1rem;
    text-decoration: none;
    color: blueviolet;
    text-align: center;
    text-overflow: inherit;
    padding: 10px 10px 10px 10px;  
}



.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    /**barra de desplazamiento **/
    overflow-x: scroll;
    /**Scroll horizontal**/
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    /**fit container size**/
    object-fit: cover;

    scroll-snap-align: center;
  }

  .container-info{
   margin: 30px;
  }
  .container-info h1{
    margin: 30px;
    text-align: center;
  }
  .container-info h3{
    margin: 30px;
    text-align: center

  }

  .container-info p{
    text-align: justify;
  }

  .container-mapa{
    margin: 0px;
  }
  .container-mapa p{
    text-align: center;
  }

  .barra{
    background-color: blue;
    height: 200px;
    text-align: left;
    
  }

  .barra h1{
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    padding: 25px 2px 8px 50px;
    color: white;

  }
  .barra a{
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    padding: 25px 2px 8px 50px;
    color:white;
  }
  @media(max-width:1100px){
    .navbar{
      background-color:white;
    width: 100%;
    height: 100%;
    text-align: end;
    display: block;
    padding: 0px;
    margin: 0px;
    }

    .navbar a{
      font-size: 14px;
      text-decoration: none;
      color: white;
      text-align: left;
      padding: 10px 10px;
      margin: 0px;
      background-color: blueviolet;
      width: 100%;
    }

    .navbar-nav{
      padding: 0px;
      margin: 0px;
      width: 100%;
      
    }

    .container-nave{
      width: 100%;
    padding-top: 0;
      
    }
    .slider-container{
      height: 40%;
    }
  .slider-item img{
    width: 100%;
    height: 40%;
    padding-top: 0;
  }
  .container-mapa{
    width: 50%;
    height: 40%;
    
  }
  .mapouter{
    width: 50%;
    height: 40%;
    padding: 0;
   
  }
  }

  @media(max-width:700px){
    .navbar{
      background-color:white;
    width: 100%;
    height: 100%;
    text-align: end;
    display: block;
    padding: 0px;
    margin: 0px;
    }

    .navbar a{
      font-size: 14px;
      text-decoration: none;
      color: white;
      text-align: left;
      padding: 10px 10px;
      margin: 0px;
      background-color: blueviolet;
      width: 100%;
    }

    .navbar-nav{
      padding: 0px;
      margin: 0px;
      width: 100%;
      
    }

    .container-nave{
      width: 100%;
    padding-top: 0;
      
    }
    .slider-container{
      height: 40%;
    }
  .slider-item img{
    width: 100%;
    height: 40%;
    padding-top: 0;
  }
  .container-mapa{
    width: 50%;
    height: 40%;
    
  }
  .mapouter{
    width: 50%;
    height: 40%;
    padding: 0;
   
  }
  }
  